<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        {% block footer %}
            <p class="navbar-text">Intranet IAG - USP </p>
        {% endblock %}
    </div>
</nav>