<!--Manutenção-->
<div class="btn btn-default btn-lg tools" data-toggle="tooltip" data-placement="bottom" title="Manutenção">
    <span class="glyphicon glyphicon-wrench"></span>
</div>

<!--Copa-->
<div class="btn btn-default btn-lg tools" data-toggle="tooltip" data-placement="bottom" title="Copa">
    <span class="glyphicon glyphicon-cutlery"></span>
</div>

<!--Informes ADM-->
<div class="btn btn-default btn-lg tools"  data-toggle="tooltip" data-placement="bottom" title="Informes Administrativos">
    <span class="glyphicon glyphicon-bullhorn"></span>
</div>

<!--Disciplinas-->
<div class="btn btn-default btn-lg tools"  data-toggle="tooltip" data-placement="bottom" title="Disciplinas">
    <span class="glyphicon glyphicon-education"></span>
</div>

<!--Calendário-->
<div class="btn btn-default btn-lg tools" data-toggle="tooltip" data-placement="bottom" title="Calendário">
    <span class="glyphicon glyphicon-calendar"></span>
</div>

<!--Aniversários-->
<div class="btn btn-default btn-lg tools" data-toggle="tooltip" data-placement="bottom" title="Aniversários">
    <span class="glyphicon glyphicon-gift"></span>
</div>

<!--Ramais-->
<div class="btn btn-default btn-lg tools" data-toggle="tooltip" data-placement="bottom" title="Ramais">
    <span class="glyphicon glyphicon-phone-alt"></span>
</div>

<!--Fale com o diretor-->
<div class="btn btn-default btn-lg tools" data-toggle="tooltip" data-placement="bottom" title="Fale com o Diretor">
    <span class="glyphicon glyphicon-comment"></span>
</div>

<!--Suṕorte Informática-->
<div class="btn btn-default btn-lg tools" data-toggle="tooltip" data-placement="bottom" title="Suporte de Informática">
    <span class="glyphicon glyphicon-info-sign"></span>
</div>

<!--Segurança-->
<div class="btn btn-default btn-lg tools" data-toggle="tooltip" data-placement="bottom" title="Segurança">
    <span class="glyphicon glyphicon-eye-open"></span>
</div>

<!--Ploter-->
<div class="btn btn-default btn-lg tools" data-toggle="tooltip" data-placement="bottom" title="Serviços de Ploter">
    <span class="glyphicon glyphicon-print"></span>
</div>

<!--Agendamento Salas-->
<div class="btn btn-default btn-lg tools" data-toggle="tooltip" data-placement="bottom" title="Agendamento de Salas">
    <span class="glyphicon glyphicon-th"></span>
</div>

<!--Multimeios-->
<div class="btn btn-default btn-lg tools" data-toggle="tooltip" data-placement="bottom" title="Multimeios">
    <span class="glyphicon glyphicon-film"></span>
</div>

<!--Patrimonio-->
<div class="btn btn-default btn-lg tools" data-toggle="tooltip" data-placement="bottom" title="Patrimonio">
    <span class="glyphicon glyphicon-qrcode"></span>
</div>

<!--Galeria-->
<div class="btn btn-default btn-lg tools" data-toggle="tooltip" data-placement="bottom" title="Galeria de Imagens">
    <span class="glyphicon glyphicon-picture"></span>
</div>